<header class="header">
  <div class="left-side">
    <div class="logo">
      <img src="../../../assets/images/logo-CookingBook.png" alt="logo">
    </div>
    <div class="title">
      <h1>Вкусотийко</h1>
    </div>
  </div>
  <div class="right-side">
  <nav class="navigation">
    <ul>
      <li><a class="active" [routerLink]="['/allRecipe']" routerLinkActive="active">Начало</a></li>
      <li><a [routerLink]="['/addRecipe']">Добави рецепта</a></li>
      <li><a [routerLink]="['/myRecipe']">Любими рецепти</a></li>
      <li><a [routerLink]="['/register']">Регистрация</a></li>
      <li><a [routerLink]="['/login']">Вход</a></li>
    </ul>
  </nav>
  </div>
</header>

