<div class="recipe-list">
  <app-search-bar (searchEvent)="search($event)"></app-search-bar>
  <div class="show-recipes" *ngIf="searchResults && searchResults.length > 0">
    <mat-card class="recipe-card" *ngFor="let recipe of searchResults">
      <mat-card-header>
        <mat-card-title class="recipe-name">{{ recipe.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="recipeImage">
      <mat-card-actions>
        <button mat-button>Разгледай</button>
        <button mat-button>Добави в любими</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="label-result" *ngIf="searchResults && searchResults.length === 0">
    <p>Няма намерени резултати!</p>
  </div>
</div>
