<div class="recipe-details">
  <mat-card class="recipe-details-card" *ngIf="recipeDetails">
    <button mat-icon-button color="warn" class="favorite-icon" *ngIf="isLoggedIn()" (click)="addLovers()">
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-card-title class="recipe-details-name">{{ recipeDetails.name }}</mat-card-title>
    <app-star-rating [(rating)]="recipeRating" (ratingChange)="onRatingSelected($event)"></app-star-rating>
    <mat-card-content class="details-content">
      <div class="details-image">
        <img mat-card-image class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="RecipeImage">
      </div>
      <div class="details-products">
        <p class="products-title">Необходими продукти</p>
        <ul *ngFor="let product of recipeDetails.products">
          <li>{{ product.name }} - {{ product.quantity }}{{ MeasureMap[product.measure] }}</li>
        </ul>
      </div>
      <div class="details-description">
        <p class="description-title">Описание</p>
        <p>{{ recipeDetails.description }}</p>
      </div>
      <div class="details-comments">
        <p class="details-comments-title">Коментари <button mat-raised-button *ngIf="isLoggedIn()" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button></p>
        <ol>
          <li *ngFor="let comment of recipeComments">{{ comment }}</li>
        </ol>
      </div>
    </mat-card-content>
  </mat-card>
</div>
