<div class="recipe-details">
  <mat-card class="recipe-details-card" *ngIf="recipeDetails">
    <mat-card-title class="recipe-details-name">{{recipeDetails.name}}</mat-card-title>
    <mat-card-content class="details-content">
      <div>
        <img mat-card-image class="details-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="RecipeImage">
      </div>
      <div class="details-products">
        <!--        {{recipeDetails.productName}}-->
      </div>
      <div class="details-description">
        <p> Описание: {{ recipeDetails.description }} </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!--    <button mat-button></button>-->
    </mat-card-actions>
  </mat-card>
</div>
