.favorite-recipe-title {
  font-size: 60px;
  color: #5f6c47;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-family: 'Satisfy', cursive;
}

.favorite-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

.recipe-card {
  flex-basis: calc(33.33% - 20px);
  max-width: 250px;
  margin: 0 10px 20px;
}

.recipe-name {
  color: #dbe1d1;
  margin-bottom: 5px;
}

.label-result {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 25px;
  color: #5f6c47;
}
