<!--<div class="add-recipe-form">-->
<!--  <mat-card>-->
<!--    <mat-card-title>Добави рецепта</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe(addRecipeForm)">-->
<!--        <mat-form-field>-->
<!--          <input type="text" matInput placeholder="Име на рецептата" formControlName="name">-->
<!--          <mat-error *ngIf="addRecipeForm.get('name')?.touched && addRecipeForm.get('name')?.hasError('required')">-->
<!--            Името е задължително!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <mat-select placeholder="Категория" formControlName="category">-->
<!--            <mat-option value="SALADS">Салати</mat-option>-->
<!--            <mat-option value="STARTERS">Предястия</mat-option>-->
<!--            <mat-option value="MEAT_DISHES">Ястия с месо</mat-option>-->
<!--            <mat-option value="MEATLESS_DISHES">Ястия без месо</mat-option>-->
<!--            <mat-option value="DESSERTS">Десерти</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <textarea matInput placeholder="Описание" formControlName="description"></textarea>-->
<!--          <mat-error *ngIf="addRecipeForm.get('description')?.touched && addRecipeForm.get('description')?.hasError('required')">-->
<!--            Описанието е задължително!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--&lt;!&ndash;          <input type="file" matInput formControlName="image">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-error *ngIf="addRecipeForm.get('image')?.touched && addRecipeForm.get('image')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;            Изображението е задължително!&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-error>&ndash;&gt;-->
<!--        -->
<!--        </mat-form-field>-->
<!--        <div class="button-div">-->
<!--          <button type="submit" mat-raised-button color="primary" [disabled]="addRecipeForm.invalid">Добави!</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
<!--<div class="add-recipe-form">-->
<!--  <mat-card>-->
<!--    <mat-card-title>Добави рецепта</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe(addRecipeForm)">-->
<!--        <mat-form-field>-->
<!--          <input type="text" matInput placeholder="Име на рецептата" formControlName="name">-->
<!--          <mat-error *ngIf="addRecipeForm.get('name')?.touched && addRecipeForm.get('name')?.hasError('required')">-->
<!--            Името е задължително!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <mat-select placeholder="Категория" formControlName="category">-->
<!--            <mat-option value="SALADS">Салати</mat-option>-->
<!--            <mat-option value="STARTERS">Предястия</mat-option>-->
<!--            <mat-option value="MEAT_DISHES">Ястия с месо</mat-option>-->
<!--            <mat-option value="MEATLESS_DISHES">Ястия без месо</mat-option>-->
<!--            <mat-option value="DESSERTS">Десерти</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <textarea matInput placeholder="Описание" formControlName="description"></textarea>-->
<!--          <mat-error *ngIf="addRecipeForm.get('description')?.touched && addRecipeForm.get('description')?.hasError('required')">-->
<!--            Описанието е задължително!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <input type="file" (change)="onFileSelected($event)" accept="image/*" />-->
<!--          <mat-error *ngIf="addRecipeForm.get('image')?.touched && addRecipeForm.get('image')?.hasError('required')">-->
<!--            Изображението е задължително!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <div class="button-div">-->
<!--          <button type="submit" mat-raised-button color="primary" [disabled]="addRecipeForm.invalid">Добави!</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->

<form (ngSubmit)="uploadImage()" enctype="multipart/form-data">
  <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  <button type="submit">Добави снимка</button>
</form>
